In [1]:
import json
from pandas import Series
import pandas as pd
from pandas import DataFrame

# Business.json

In [52]:
data_business = [json.loads(line) for line in open('business.json', 'r')]

business_frame = pd.DataFrame(data_business)

new = business_frame.set_index('city')
test = new[:10]
test

,address,attributes,business_id,categories,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
city,,,,,,,,,,,,,
Westlake,30808 Center Ridge Rd,None,-MsRvdPnuw6QuLn5Vxjruw,"Shopping, Home Services, Interior Design, Rugs...","{'Monday': '11:0-20:0', 'Tuesday': '10:0-20:0'...",1,41.422794,-81.962215,Brian's Furniture,44145,3,5.0,OH
Westlake,863 Bradley Rd,None,C_oejk3EzfsxP7-owQDkbQ,"Pet Services, Pet Sitting, Pets","{'Monday': '6:30-18:30', 'Tuesday': '6:30-18:3...",1,41.474970,-81.959405,Camp Bow Wow Westlake,44145,22,4.0,OH
Westlake,2004 Crocker Rd,"{'GoodForKids': 'False', 'RestaurantsTakeOut':...",nYvBZYg9rfqWFTYuxSVMdw,"Mexican, Bars, Restaurants, Vegetarian, Nightlife","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,41.461569,-81.951303,Cantina Laredo,44145,62,4.0,OH
Westlake,24481 Detroit Rd,"{'OutdoorSeating': 'True', 'Alcohol': 'u'full_...",0ZN2MfHyjNIkCx7qJvVhDg,"Restaurants, Nightlife, American (New), Dance ...","{'Monday': '11:0-2:0', 'Tuesday': '11:0-2:0', ...",0,41.470596,-81.891643,SB Eightyone,44145,34,2.5,OH
Westlake,26410 Center Ridge Rd,{'ByAppointmentOnly': 'True'},VZKWW2zQbk-rxwpAcque8w,"Dermatologists, Doctors, Health & Medical","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ...",1,41.452693,-81.913515,"Kish L Stephen, MD",44145,3,3.0,OH
Westlake,27402 Detroit Rd,"{'NoiseLevel': 'u'average'', 'GoodForKids': 'F...",K5iqS0JXnKFFujZHIWQsag,"Bars, Burgers, Dive Bars, Nightlife, Beer Bar,...","{'Monday': '11:30-2:0', 'Tuesday': '11:30-2:0'...",1,41.467006,-81.924537,Dover Gardens Tavern,44145,26,3.5,OH
Westlake,30500 Clemens Rd,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...",i7lFu1-iadoXW5Hn-JWaeg,"Hotels, Hotels & Travel, Venues & Event Spaces...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,41.471111,-81.956976,Holiday Inn Express & Suites Cleveland West - ...,44145,12,3.5,OH
Westlake,30651 Detroit Rd,"{'RestaurantsReservations': 'True', 'WiFi': 'u...",2lcK3d4K7FU6O8wXdWzOmA,"American (New), Restaurants, Steakhouses, Nigh...","{'Monday': '11:30-22:0', 'Tuesday': '11:30-22:...",1,41.460556,-81.958732,Cabin Club,44145,126,4.0,OH
Westlake,25575 Center Ridge Rd,"{'AcceptsInsurance': 'True', 'BusinessAcceptsC...",OD88wvH-9LxM_Gz4oHOIDg,"General Dentistry, Dentists, Cosmetic Dentists...","{'Monday': '8:0-19:0', 'Tuesday': '8:0-19:0', ...",1,41.455253,-81.903386,Westlake Dental Associates,44145,8,4.5,OH
Westlake,27112 Detroit Rd,"{'RestaurantsPriceRange2': '1', 'BusinessParki...",mW28NmePxX7pZv8lCv7v2Q,"Food, Convenience Stores, Grocery",None,1,41.467828,-81.920322,Convenient Food Mart,44145,5,5.0,OH

# Checkin.json

In [50]:
data_checkin = [json.loads(line) for line in open('checkin.json', 'r')]

checkin_frame = pd.DataFrame(data_checkin)

checkin_frame[:10]

              business_id                                               date
0  -MsRvdPnuw6QuLn5Vxjruw                                2016-02-17 22:58:06
1  -ak1fx5L9cNjUE56as12MA  2017-12-30 17:13:44, 2018-02-11 15:36:23, 2018...
2  -lAV1uegafxCjGE306kBYQ  2015-07-01 16:49:32, 2015-07-03 13:23:24, 2015...
3  -mP3F3srknwKJdJ5FqcX5Q  2010-07-04 04:42:04, 2010-08-22 18:31:16, 2010...
4  -pmqS-odJCmxOvWfRFAQ9Q  2011-03-20 21:32:56, 2011-06-27 17:00:25, 2011...
5  0I0yATfnNQJB-A-IPGgqDA  2017-07-22 23:27:53, 2017-07-23 13:16:25, 2017...
6  0J2QK4Hk8EvJKYGu65qH8w  2010-08-01 14:12:43, 2010-08-15 00:12:10, 2010...
7  0VJ8tBxOpD2OxuioVjaAxA  2013-06-26 23:14:30, 2013-06-29 02:44:17, 2013...
8  0ZN2MfHyjNIkCx7qJvVhDg  2011-05-25 23:03:12, 2011-05-25 23:10:05, 2011...
9  0nAFblolSC3TfbHDq8yjGQ  2011-03-12 23:14:00, 2011-12-03 00:57:28, 2012...

# Review.json

In [51]:
data_reviews = [json.loads(line) for line in open('review.json', 'r')]

reviews_frame = pd.DataFrame(data_reviews)

reviews_frame[:10]

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,2lcK3d4K7FU6O8wXdWzOmA,1,2015-10-07 22:34:13,0,yO9uwcDlzcFBpp6xSq_wOg,5.0,Great and fresh food (had filet mignon and asp...,0,apP3CApEq6-z59tRLwEBYA
1,bzdb1jJ1j8Qn_RVHY97FnA,0,2011-10-27 13:11:48,0,ZrQ6PqgZZOcaH8pDlil1ww,2.0,I feel like Friday's food menu has gotten wors...,1,xtwoOTTOuZrXj4GQtsueuA
2,z71IqTCbQW7uzw2H2T1QrA,0,2015-01-18 16:00:39,0,zVBQuDrIBMPEZHyu9YJjLg,5.0,87 West is awesome! The decor and fireplace c...,0,ecz6xGzGm1-wwswYh8VT8A
3,KR2kRmHnRCaNzOUEGoB25w,1,2015-01-04 01:22:20,0,HzD24-WZ8pzGGOZeN_ktIA,5.0,"Awesome burgers, great atmosphere, attentive w...",0,bJ1ir7YZ-e-cigMahFLEIw
4,z58nyUVyDV-vC7nXFfvR5g,0,2010-05-15 00:58:29,0,DXGcEtOckOkrs-7HRp4eXQ,3.0,"Looking for a quick mexican fix? Good food, l...",1,FO8hILdACBsZrVDur5x8RA
5,J8klQB6PHeR5vZpz6L0S9w,0,2014-04-19 17:14:38,0,BHFddF6oZPTHMeFi5mOznA,3.0,My experience today compelled me to write a re...,1,_SoUBkOHsToeOM14bjnraA
6,4wpeWu0lCR_eEdGiyZB9rg,0,2016-08-25 12:16:22,0,Eg5InhAefmD4NLQsryqQyg,5.0,Just wanted to say I can't be more happy with ...,0,jo50q0nYHPaOrKKyFVgZzQ
7,vNPJbqYuJEFDPOLhoq3bFA,0,2017-09-20 14:24:14,0,XB8tLjeCP5OumIoqhj5feQ,1.0,I had a reaction to the wax. When I went back...,0,feCCr_lY8yBgeVtpO23dPQ
8,nYvBZYg9rfqWFTYuxSVMdw,0,2018-08-23 21:23:42,0,amCdtFg-sh8CQiCr0xDMTw,2.0,Very very average. No flavor. Overpriced. Do...,0,t6LdjDcOVkeAKbDMWqHroA
9,KR2kRmHnRCaNzOUEGoB25w,1,2014-11-30 02:11:28,0,YZrcQIAviFq8vXFBB1tamw,4.0,"Great burgers, killer onion rings and the best...",0,XW4sF5LLN5i-Gilpn1h1vQ

# Tip.json

In [49]:
data_tip = [json.loads(line) for line in open('tip.json', 'r')]

tip_frame = pd.DataFrame(data_tip)

tip_frame[:10]

,business_id,compliment_count,date,text,user_id
0,yBPeUobSSaJQKaYYgiOKYA,0,2012-07-31 12:05:54,"For collision estimates, enter through John La...",xtwoOTTOuZrXj4GQtsueuA
1,MWcN6qLWTfRJqLySxwJNqQ,0,2015-09-12 17:05:52,They no longer have the weekend lunch buffet!,0tC5OOTuwvPGnnqhPCoRSw
2,uFL4KroMu-dFRsSJrcFzVQ,0,2012-03-15 20:31:12,Tuesday's (5p - close) are $1 Burger Nights ju...,xtwoOTTOuZrXj4GQtsueuA
3,uFL4KroMu-dFRsSJrcFzVQ,0,2012-03-15 20:29:44,"Starting March 26th - Happy Hour, Monday thru ...",xtwoOTTOuZrXj4GQtsueuA
4,cbjF6szaq2orE0BplGAKEA,0,2014-09-08 22:46:58,"The hooley hunks are great, big chunks of high...",owj_Ij0UvMi8ZiGa_Y_deg
5,HJx0usnyVijOom2q73xGIA,0,2016-11-24 02:46:00,Noodlecat coming soon!,0tC5OOTuwvPGnnqhPCoRSw
6,uFL4KroMu-dFRsSJrcFzVQ,0,2012-03-15 20:28:02,"Grand Opening St. Patty's Day Party, March 17t...",xtwoOTTOuZrXj4GQtsueuA
7,OiR6kP_mAD47vKU1WiPshg,0,2018-01-21 02:46:25,"Bad service, food isn't great. Wouldn't recomm...",eRIpOn5NMhXwUiH5zAYvJg
8,rcoAajAVBBXsBNfgKYaH-w,0,2011-04-26 17:43:56,I am Lebanese so it works for me!,owj_Ij0UvMi8ZiGa_Y_deg
9,yG9SpxEQVIhk6e1o3jbSKg,0,2010-12-30 22:41:38,Who would have thought their Jamaican Mussels ...,-NycZLw5rPxqwrkKKI-83w

# User.json

In [48]:
data_user = [json.loads(line) for line in open('user.json', 'r')]

user_frame = pd.DataFrame(data_user)

user_frame[:10]

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,3.91,756,57,756,366,36,59,541,164,1696,...,6712,"2010,2011,2012,2013,2014,2015,2016,2017,2018",1150,"vvqKD8Xow2IsmwOL1lqS9Q, -HLE-x7Lpkfprd6er-JFGg...",4257,Cara,1027,10719,NfU0zDaTMEQ4-X9dbQWd9A,2010-07-21 03:42:39
1,3.62,1,0,1,0,0,0,0,0,1,...,11,,4,"CH3YgwWreJHEU75vntW2XA, n6VF7X8cSEN3UjR2n21Rqw...",11,Brian,19,57,wVVH8vsOOhdJ-5nigb77xg,2012-09-24 02:21:48
2,4.35,32,4,32,20,1,10,19,4,48,...,361,"2012,2013,2014,2015,2016,2017",29,"atfOidazPQ0gtIKMc_xqIA, rBVubLc9uLDZLrIhd7OiQg...",709,Jennifer,302,840,tWVlSt-66fl6bk9_5UzltQ,2012-05-11 17:16:04
3,2.85,0,0,0,0,0,0,1,0,0,...,4,,0,"IhiSlJZKEZL0O1syeW3gvQ, mUXt36V1irLlA_UZtEEnfQ...",20,Kevin,19,25,Khecid8LZRq9n6xe4qjgLA,2009-08-09 16:33:01
4,4.38,6,0,6,3,0,1,10,2,13,...,285,"2015,2016,2017,2018",21,"HSWii1Xd63kXmR7Rp2rp3g, 9XJxkbzctH2eL12u-qAZUw...",127,Dawn,589,674,sxEzazybwfF86Mv8Dm3tgw,2009-11-04 14:13:29
5,3.98,21,2,21,28,2,4,19,5,38,...,175,"2012,2013,2014,2015",27,"3aBGR6pyzQM_646ZITODrA, 3MpzuK6s93p3pIX2GfZCWg...",313,Shannon,153,514,DRlIsW15Zn2qwYdOuhHlsg,2012-06-21 13:42:11
6,4.04,15,3,15,12,0,6,19,4,18,...,252,"2014,2015,2016,2017,2018",32,"nOr3_aq60yivqgcso_iDMw, 5-W_iC49mFrevmSL7xnvrg...",333,Julie,261,592,DIqmYwkcPFcYnEpWvzXeOQ,2013-09-21 14:10:24
7,3.56,0,0,0,0,0,0,0,0,0,...,7,,1,"Kn7EmDkYekyjl3-YTEq0vQ, Z_FzGGu5vggFwelcMy17oA...",3,Nick,32,26,8KeHUYvc5HVzex6XhP6Fug,2014-08-26 02:32:14
8,4.46,247,2,247,98,0,20,214,151,1750,...,3388,"2016,2017,2018",378,"hrel0o71Ilo2bIzc0o6xSg, M9W2C1zSUIygfKrMbpkd7Q...",1541,Lauren,654,5098,u3ZPMVVEzneq8x856WksJQ,2012-06-17 01:07:03
9,3.35,249,31,249,273,13,32,195,46,252,...,779,"2010,2011,2012,2013",88,"098Oy_RnzbczUtKuGkSAVw, MeDuKsZcnI3IU2g7OlV-hQ...",1481,Smalls,199,996,QAhzCDCW8sqoDTw6rwhTWw,2010-03-22 19:29:03